body, html
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 20px;
    margin-top: 10px;
}

button
{
    align-self: center;
    height: 100px;
    width: 150px;
    border-radius: 16px;
    font-size: large;
}

.container
{
    display: grid;
    grid-template: auto / 1fr 1fr;
    row-gap: 5px;
    column-gap: 1px;
}